black
pre-commit
django
gunicorn
uvicorn
blacknoise
django-cors-headers
torch
python-dotenv
langchain_core
langchain_openai
langchain_huggingface
langchain_community
langgraph
sentence-transformers
chromadb
requests
gdown