django
django-cors-headers
python-dotenv
gunicorn
uvicorn
blacknoise
torch
langchain_core
langchain_openai
langchain_huggingface
langchain_community
langgraph
sentence-transformers
chromadb
requests
gdown
openai
boto3