django
django-cors-headers
python-dotenv
mysqlclient
gunicorn
uvicorn
blacknoise
langgraph
langchain
lark
langchain_openai
langchain-community
langchain_chroma
langchain_huggingface
sentence-transformers
gdown
boto3
rank_bm25