django
django-cors-headers
python-dotenv
mysqlclient
gunicorn
uvicorn
blacknoise
langgraph==0.6.7
langchain==0.3.27
lark
langchain_openai==0.3.32
langchain-community==0.3.29
langchain_chroma==0.2.5
langchain_huggingface==0.3.1
sentence-transformers==5.1.0
gdown
boto3
rank_bm25
konlpy