{% extends 'my_app/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'my_app/css/community/community.css' %}">
{% endblock %}

{% block title %}커뮤니티 게시글{% endblock %}

{% block content %}
<div class="community-container">
    <table class="community-table">
        <thead>
            <tr>
                <th class="col-number">번호</th>
                <th class="col-title">제목</th>
                <th class="col-author">글쓴이</th>
                <th class="col-date">작성일</th>
                <th class="col-views">조회</th>
                <th class="col-likes">추천</th>
            </tr>
        </thead>
        <tbody>
            <!-- Best Posts -->
            {% for post in best_posts %}
            <tr>
                <td class="col-number">{{ post.id }}</td>
                <td class="col-title">
                    <a href="{% url 'post-detail' post_id=post.id %}">
                        <span class="best-post-icon">🏆</span>
                        <span class="best-post title-text">{{ post.title }}</span>
                        <span class="comment-count">[{{ post.comments.count }}]</span>
                    </a>
                </td>
                <td class="col-author">{{ post.author.username }}</td>
                <td class="col-date">{{ post.created_at|date:"Y.m.d" }}</td>
                <td class="col-views">{{ post.views }}</td>
                <td class="col-likes">{{ post.likes }}</td>
            </tr>
            {% endfor %}

            <!-- Regular Posts -->
            {% for post in regular_posts %}
            <tr>
                <td class="col-number">{{ post.id }}</td>
                <td class="col-title">
                    <a href="{% url 'post-detail' post_id=post.id %}">
                        <span class="title-text">{{ post.title }}</span>
                        <span class="comment-count">[{{ post.comments.count }}]</span>
                    </a>
                </td>
                <td class="col-author">{{ post.author.username }}</td>
                <td class="col-date">{{ post.created_at|date:"Y.m.d" }}</td>
                <td class="col-views">{{ post.views }}</td>
                <td class="col-likes">{{ post.likes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}