{% extends 'my_app/base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'my_app/css/community/community.css' %}">{% endblock %}
{% block title %}커뮤니티 게시글{% endblock %}

{% block content %}
<div class="community-container">
    <div class="community-header" style="text-align: right; padding-right: 40px; margin-bottom: 10px;">
        <a href="{% url 'main:create-post' %}" class="btn-create-post">글쓰기</a>
    </div>
    <table class="community-table">
        <thead>
            <tr>
                <th class="col-number">번호</th>
                <th class="col-title">제목</th>
                <th class="col-author">글쓴이</th>
                <th class="col-date">작성일</th>
                <th class="col-views">조회</th>
                <th class="col-likes">추천</th>
            </tr>
        </thead>
        <tbody>
            <!-- Best Posts -->
            {% for post in best_posts %}
            <tr>
                <td class="col-number">{{ post.id }}</td>
                <td class="col-title">
                    <a href="{% url 'main:post-detail' post_id=post.id %}">
                        <span class="best-post-icon">🏆</span>
                        <span class="best-post title-text">{{ post.title }}</span>
                        <span class="comment-count">[{{ post.comments.count }}]</span>
                    </a>
                </td>
                <td class="col-author">{{ post.author.id }}</td>
                <td class="col-date">{{ post.created_at|date:"Y.m.d" }}</td>
                <td class="col-views">{{ post.views }}</td>
                <td class="col-likes">{{ post.likes }}</td>
            </tr>
            {% endfor %}

            <!-- Regular Posts -->
            {% for post in page_obj %}
            <tr>
                <td class="col-number">{{ post.id }}</td>
                <td class="col-title">
                    <a href="{% url 'main:post-detail' post_id=post.id %}">
                        <span class="title-text">{{ post.title }}</span>
                        <span class="comment-count">[{{ post.comments.count }}]</span>
                    </a>
                </td>
                <td class="col-author">{{ post.author.id }}</td>
                <td class="col-date">{{ post.created_at|date:"Y.m.d" }}</td>
                <td class="col-views">{{ post.views }}</td>
                <td class="col-likes">{{ post.likes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 처음</a>
            <a href="?page={{ page_obj.previous_page_number }}">이전</a>
        {% endif %}

        <span class="current-page">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">다음</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}