{% extends 'my_app/base.html' %} 
{% load static %} 
{% block title %}사내 내부문서{% endblock %} 
{% block content %}
<link rel="stylesheet" href="{% static 'my_app/css/chat/chat.css' %}">

<div class="content-header header-split">
  <div class="left-group">
    <button id="btnCardSelect">카드만들기</button>
    <button id="btnCardSave">카드 저장</button>
    <span id="selCount" style="margin-left:8px;color:#666;display:none;">0개 선택</span>
  </div>
  <div class="right-group">
    <button class="formal-button">공손 말투</button>
    <button class="informal-button">친구 말투</button>
  </div>
</div>


<div class="chat-area">
    <h2></h2>
    <ul id="chatLog" class="chat-log"></ul>
</div>

<div class="chat-input-area">
    <button id="uploadBtn">사진 업로드</button>
    <input id="chatInput" type="text" placeholder="질문하는 INPUT 영역" />
    <button id="voiceBtn">🎤</button>
    <button id="sendBtn">보내기</button>
</div>

<script src="{% static 'my_app/js/chat/chat-internal.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}
